{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-schedulepage{% endblock %}
{% block main_class %}bg-white mx-auto {#container#}{% endblock %}

{% block content %}
    <hr class="featurette-divider">
    <div class="container">
        <h1 class="text-center">Class Schedule {{ page.date|date:"Y" }}</h1>

        <div>{% include 'schedule/weekly-schedule.html' %}</div>

        <h2 class="text-center">Schedule of Events & Closures</h2>
        <a>{{ page.body|richtext }}</a>
    </div>
{% endblock %}

