{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block main_class %}container px-3{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}
    <h1>Central Maryland Martial Arts</h1>
    <p class="lead">Focused Mind, Strong Body, Indomitable Spirit</p>
    <p class="lead">
        <a class="btn btn-lg btn-dark fw-bold bolder-black bg-black" href="{% slugurl 'contact' %}">
            Get Started
        </a>
    </p>
{% endblock content %}

{% block footer %}
    <footer class="mt-auto py-3 mt-3">
    </footer>
{% endblock footer %}

