.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    margin-top: 7rem;
    font-size: 50px;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

img, svg {
    vertical-align: middle;
}
