{% extends "base.html" %}
{% load static %}

{% block body_class %}template-contactpage{% endblock %}
{% block main_class %}bg-white container pb-4{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="position-relative overflow-hidden pl-3 pl-md-5 m-md-3 bg-light">
        <div class="row">
            <div class="text-bg-light">
                <div class="card">
                    {#% image The_Boulder_Yard.jpg fill-700x500 class="card-img" style="object-fit: cover; object-position:75% 0;" %#}
                    <img src="../../../media/original_images/The_Boulder_Yard.jpg" class="card-img" />
                    <div class="card-img-overlay">
                        <h1 class="card-title display-5 fw-bold">We're local!</h1>
                        <p class="card-text col-md-8 fs-4">Find us at The Boulder Yard on the second floor at 5714 Industry Ln F, Frederick, MD 21704.</p>
                        <button class="btn btn-primary btn-lg" type="button">Example button</button>
                        {#<p class="btn btn-outline-dark" href="#">Example Button</p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %}
    <div class="jumbotron p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">
                We Have A New Home!
            </h1>
            <p class="col-md-8 fs-4">
                Find us at The Boulder Yard on the second floor at 5714 Industry Ln F, Frederick, MD 21704.
            </p>
            <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
    </div>
    {% endcomment %}
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3083.475606887335!2d-77.41873382336236!3d39.39074477162288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c9dc7fd6fdde11%3A0x23ef672a48d27e58!2sCentral%20Maryland%20Martial%20Arts!5e0!3m2!1sen!2sus!4v1698724517462!5m2!1sen!2sus"
            class="w-100 h-100 rounded-3" {#width="600" height="450" style="border:0;"#} allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </div>
        <div class="col-md-6">
            <div class="h-100 px-3 py-3 rounded-3">
                <h2>Reach out to us</h2>
                <p>
                    Give us a call at (301) 639-9910 or email us at cmmatsd@gmail.com
                </p>
                <button class="btn btn-outline-secondary">Example Button</button>
            </div>
        </div>
    </div>
{% endblock content %}

